.title {
  color: red;
  font-size: 35px;
  background-color: blue;
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  text-align: center;
}

body {
   background-color: #cccccc;
}

#ytdl {
  margin-left: 250px;
}

.twitchchanneltext {
  margin-left: 600px;
}

* {
  margin: 0;
  padding: 0;
}

.tracker {
  margin-left: 87px;
}

nav {
  width: 100%;
  height: 20px;
  background-color: #bcbcbc;
}

ul {
  margin-left: 480px;
}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 20px;
}

ul li a {
  text-decoration: none;
  font-size: 14px;
  font-family: arial;
  color: green;
  padding: 0 20px;
}
.listhome {
  margin-left: 50px;
  font-size: 30px;
  font-family: arial;
}


.listhome2 {
  margin-left: 50px;
  font-size: 25px;
  font-family: arial;
}

div {
  margin-left: 200px;
}

.ninja {
  margin-left: 700px;
  margin-top: -1000px;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
