.title {
  color: red;
  font-size: 35px;
  background-color: blue;
  font-family: 'Permanent Marker', cursive;
  font-weight: 100;
  text-align: center;
}

body {
   background-color: #cccccc;
}

#ytdl {
  margin-left: 600px;
}

.twitchchanneltext {
  margin-left: 600px;
}

* {
  margin: 0;
  padding: 0;
}

.tracker {
  margin-left: 87px;
}

nav {
  width: 100%;
  height: 20px;
  background-color: #bcbcbc;
}

ul {
  margin-left: 480px;
}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 20px;
}

ul li a {
  text-decoration: none;
  font-size: 14px;
  font-family: arial;
  color: green;
  padding: 0 20px;
}
.listhome {
  margin-left: 50px;
  font-size: 30px;
  font-family: arial;
}


.listhome2 {
  margin-left: 50px;
  font-size: 25px;
  font-family: arial;
}

div {
  margin-left: 200px;
}

.ninja {
  margin-left: 700px;
  margin-top: -1000px;
}
